:root {
  --default-bg: #1d1e20;
  --accent-bg: #282c34;
  --default-font-color: #ffffff;
  --accent-font-color: #abb2bf;
  font-family: "Fira Mono", monospace;
}

body {
  background-color: var(--default-bg);
  color: var(--default-font-color);
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  background-color: rgba(0, 0, 0, 50%);
  height: 100%;
  width: 11rem;
  border-right: #abb2bf;
}

img {
  display: block;
}

p {
  font-family: "Fira Mono", monospace;
}

ul.nav-items {
  text-decoration: none;
  list-style: none;
}

li.items {
  margin-top: 1rem;
  font-size: 1.2rem;
}

a {
  color: var(--default-font-color)
}

a:link {
  color: var(--default-font-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-font-color);
  text-decoration: none;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fira Code", monospace;
  font-weight: Bold;
}

.navlinks {
  display: flex;
  margin-right: auto;
  margin-left: auto
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left-side right-side";
  justify-content: center;
}

.pfp {
  grid-area: right-side;
  padding: 6rem 0;
}

.pfp img {
  height: 220px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 0 0;
  object-fit: cover;
  border: 1px solid #4078f2;
}

.right-side {
  grid-area: left-side;
  margin: 0 auto;
  display: grid;
  align-content: center;
  padding: 3rem;
}

.intro {
  position: relative;
  max-width: 15rem;
  border: 1px solid #4078f2;
  padding: 1rem;
  background-color: rgba(40, 44, 52, 0.8);
}

.intro.shadow {
  box-shadow: -20px 20px 15px rgba(0, 0, 0, 0.13)
}

.corner {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border: 2px solid #4078f2;
  background-color: #fff;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}

@media screen and (max-width: 800px) {
  .main-content {
    grid-template-columns: 1fr;
    grid-template-areas: "left-side" "right-side";
  }

  .right-side {
    justify-content: center;
  }
}
