:root {
  --default-bg: #1d1e20;
  --accent-bg: #282c34;
  --default-font-color: #ffffff;
  --accent-font-color: #abb2bf;
  --border-color: #656970;
  font-family: "Fira Mono", monospace;
}

body {
  background-color: var(--default-bg);
  color: var(--default-font-color);
  margin: 0;
  padding: 0 0 5rem 0;
}

header {
  position: fixed;
  background-color: #101112;
  height: 100%;
  width: 12rem;
  border-right: 1px solid #656970;
  top: 0;
  left: 0;
}

img {
  display: block;
}

p {
  font-family: "Fira Mono", monospace;
  font-size: 1.2rem;
}

ul.nav-items {
  text-decoration: none;
  list-style: none;
}

li.items {
  margin-top: 1rem;
  font-size: 1.2rem;
}

a {
  color: var(--default-font-color);
  text-decoration: none;
}

a:link {
  color: var(--default-font-color);
  text-decoration: none;
}

a:hover {
  color: #0ff0fc;
  text-decoration: underline;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fira Code", monospace;
  font-weight: Bold;
  color:#0ff0fc;
}

.logo a {
  color:#0ff0fc;
}

.logo:hover {
  text-decoration: underline;
}

.navlinks {
  display: flex;
  margin-right: auto;
  margin-left: auto
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "left-side right-side";
  width: auto;
  border-bottom: #656970 1px solid;
  padding-bottom: 4rem;
}

h1#l1 {
  font-size: 4rem;
  font-weight: semi-bold;
  margin-bottom: 0;
}

.pfp {
  grid-area: right-side;
  padding: 6rem 0;
}

.pfp img {
  height: 15rem;
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-left: 10%;
  object-fit: cover;
  border: 1px solid #656970;
}

.left-side {
  grid-area: left-side;
  margin: 0 auto 0 30%;
  display: grid;
  align-content: center;
  padding: 0 0 0 3rem;
}

.intro {
  max-width: 30rem;
  min-width: 12rem;
}

.gotogithub {
  background-color: #282c34;
  color: var(--default-font-color);
  cursor: pointer;
  width: 13rem;
  height: 3.5rem;
  font: inherit;
  box-shadow: none;
  text-decoration: none;
  border:#656970 1px solid;
  transition: ease-in-out 0.125s;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.gotogithub:hover {
  border:#656970 2px solid;
  color: #0ff0fc;
}

.sections {
  margin: 0 auto 0 21%;
  padding: 4rem 4rem 4rem 2rem;
}

.about-section {
  border-bottom: #656970 1px solid;
}

.sections h1 {
  font-size: 2rem;
}

.sections a {
  color: #0ff0fc;
  cursor: pointer;
}

.sections a:hover {
  text-decoration: underline;
}

.sections li a {
  color: #fff01f;
  
}

.projects li {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.projects-section {
  border-bottom: #656970 1px solid;
}

form {
    width: 25rem;
    margin: 0 3rem;
    line-height: 1.5;
    font: inhert;
    grid-area: rghtside;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.alert {
  display: none;
  color: #4CAF50;
}

.contact-container {
  margin: 5rem 0;
  overflow: hidden;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "lftside rghtside";
  --gap: 15rem;
  --line-offset: calc(var(--gap)/2);
  --line-thickness: 1px;
  --line-color: #656970;
}

.contact-item {
  position: relative;
}

.contact-item::before,
.contact-item::after {
  content: "";
  position: absolute;
  background-color: var(--line-color);
  z-index: 1;
}

.contact-item::before {
  inline-size: var(--line-thickness);
  block-size: 50vh;
  inset-block-start: 0;
  inset-inline-start: calc(var(--line-offset)*-1);
}

.social {
  grid-area: lftside;
  display: grid;
  grid-template-columns: 3rem 3rem 3rem;
  grid-template-rows: 3rem 3rem 3rem;
  grid-gap: 6rem;
  align-items: center;
  justify-content: center;
  height: 25rem;
  margin: 0 7rem
}

a.icons {
  color: var(--default-font-color);
  transition: ease-in-out 0.1s;
}

a.icons:hover {
  color: #0ff0fc;
}

@media screen and (max-width: 800px) {
  .main-content {
    grid-template-columns: 1fr;
    grid-template-areas: "right-side" "left-side";
  }

  .right-side {
    justify-content: center;
  }

  .pfp img {
    margin: 0 auto 0 40%;
  }

  .sections {
    margin: 0 auto 0 32%;
  }
}
