:root {
  --default-bg: #1d1e20;
  --accent-bg: #282c34;
  --default-font-color: #ffffff;
  --accent-font-color: #abb2bf;
  --border-color: #656970;
  font-family: "Fira Mono", monospace;
}

body {
  background-color: var(--default-bg);
  color: var(--default-font-color);
  margin: 0;
  padding: 0 0 5rem 0;
}

header {
  position: fixed;
  background-color: #101112;
  height: 100%;
  width: 12rem;
  border-right: 1px solid #656970;
  top: 0;
  left: 0;
}

img {
  display: block;
}

p {
  font-family: "Fira Mono", monospace;
  font-size: 1.2rem;
}

ul.nav-items {
  text-decoration: none;
  list-style: none;
}

li.items {
  margin-top: 1rem;
  font-size: 1.2rem;
}

a {
  color: var(--default-font-color);
  text-decoration: none;
}

a:link {
  color: var(--default-font-color);
  text-decoration: none;
}

a:hover {
  color: #0ff0fc;
  text-decoration: underline;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fira Code", monospace;
  font-weight: Bold;
  color:#0ff0fc;
}

.logo a {
  color:#0ff0fc;
}

.logo:hover {
  text-decoration: underline;
}

.navlinks {
  display: flex;
  margin-right: auto;
  margin-left: auto
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "left-side right-side";
  width: auto;
  border-bottom: #656970 1px solid;
  padding-bottom: 4rem;
}

h1#l1 {
  font-size: 4rem;
  font-weight: semi-bold;
}

.pfp {
  grid-area: right-side;
  padding: 6rem 0;
}

.pfp img {
  height: 15rem;
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-left: 10%;
  object-fit: cover;
  border: 1px solid #656970;
}

.left-side {
  grid-area: left-side;
  margin: 0 auto 0 30%;
  display: grid;
  align-content: center;
  padding: 0 0 0 3rem;
}

.intro {
  max-width: 30rem;
  min-width: 12rem;
}

.gotogithub {
  background-color: #282c34;
  color: var(--default-font-color);
  cursor: pointer;
  width: 13rem;
  height: 4rem;
  font: inherit;
  box-shadow: none;
  text-decoration: none;
  border:#656970 1px solid;
  transition: ease-in-out 0.125s;
  padding: 1rem;
  border-radius: 0.5rem;
}

.gotogithub:hover {
  border:#656970 2px solid;
  color: #0ff0fc;
}

.sections {
  margin: 0 auto 0 20%;
  padding: 4rem 0 4rem 3rem;
}

.about-section {
  border-bottom: #656970 1px solid;
}

.sections h1 {
  font-size: 2rem;
}

.sections a {
  color: #0ff0fc;
  cursor: pointer;
}

.sections a:hover {
  text-decoration: underline;
}

.about p {
  max-width: 60rem;
}

.sections li a {
  color: #fff01f;
  
}

.projects li {
  padding: 1rem 0;
  font-size: 1.2rem;
}

@media screen and (max-width: 800px) {
  .main-content {
    grid-template-columns: 1fr;
    grid-template-areas: "left-side" "right-side";
  }

  .right-side {
    justify-content: center;
  }
}
